workflow/error-handler.json
{
  "name": "Error Handler — Novek immo",
  "_export_note": "Workflow d'erreur global pour Novek immo2. À configurer comme Error Workflow de Novek immo2 (Settings → Error Workflow). Capte tous les crashes uncaught via Error Trigger, log dans processing_log + envoie email d'alerte. Le node 'Extract Error Info' utilise une chaîne de fallback pour récupérer le nom du nœud crashé même quand n8n ne le fournit pas (cas des throw dans Code nodes).",
  "nodes": [
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        320
      ],
      "parameters": {}
    },
    {
      "id": "extract-error",
      "name": "Extract Error Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        320
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const i of items) {\n  const e = i.json || {};\n  const exec = e.execution || {};\n  const wf = e.workflow || {};\n  const err = exec.error || {};\n  const node = err.node || {};\n  const nodeName = node.name\n    || err.context?.nodeName\n    || exec.lastNodeExecuted\n    || (err.message?.match(/^([^:]+):/) || [])[1]\n    || 'Unknown';\n  out.push({ json: {\n    workflow_name: wf.name || 'Unknown',\n    workflow_id: wf.id || 'Unknown',\n    execution_id: exec.id || 'Unknown',\n    node_name: nodeName,\n    node_type: node.type || 'Unknown',\n    error_message: err.message || 'No message',\n    error_stack: (err.stack || '').toString().slice(0, 500),\n    timestamp: new Date().toISOString()\n  }});\n}\nreturn out;"
      }
    },
    {
      "id": "log-crash-supabase",
      "name": "Log Crash to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        224
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://xxoximcbamzntsvcmrbi.supabase.co/rest/v1/processing_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "action": "parse_error",
          "raw_email": "=[CRASH] {{ $json.workflow_name }} - Exec {{ $json.execution_id }}",
          "notes": "=Noeud {{ $json.node_name }} - {{ $json.error_message }}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Novekai"
        }
      }
    },
    {
      "id": "send-alert-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        432
      ],
      "parameters": {
        "sendTo": "novekai.team@gmail.com",
        "subject": "=[ALERTE n8n] {{ $json.workflow_name }} - crash {{ $json.node_name }}",
        "emailType": "text",
        "message": "=Crash workflow n8n\n\nWorkflow: {{ $json.workflow_name }}\nNoeud: {{ $json.node_name }}\nErreur: {{ $json.error_message }}\nQuand: {{ $json.timestamp }}\nExec: {{ $json.execution_id }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account novekai"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Info": {
      "main": [
        [
          {
            "node": "Log Crash to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "novekai"
    },
    {
      "name": "immo"
    },
    {
      "name": "error-handler"
    }
  ]
}